<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bo.umsa.pgi.conocesbolivia"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="7" />
    <application
        android:icon="@drawable/icono"
        android:label="@string/app_name" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="MenuActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="JuegoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="PuntajesActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="ConfiguracionesActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="AyudaActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>